@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

.App {
  margin-top: 20px;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

#h3{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#titulo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
  font-weight: bolder;
  font-size: 27px;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  display: flex;
  width: 25%;
}

#img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  display: flex;
  width: 25%;
}

#img3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  display: flex;
  width: 25%;
}
.textbody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.textos {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin-right: 46px;
}

#myModal{
  background-color: rgba(155, 155, 155, 0.5);
}

#textos {
  color:  rgb(153, 202, 62);
  font-size: 12px;
  font-weight: bold;
}

#modalcontainer {
    border-radius: 50px;
    border-color: gray;
    border-style: none;
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

#modalcontainer.in {
    opacity: 1;
    transform: scale(1);
}

.modal-content  {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  width: 100% !important;
  border-radius: 20px !important; 
  border-color: white !important;
  margin-top: 20%;
  padding: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}  

.finalcontenedor {
  width: 100%;
  height: 100%;
}

.final {
  width: 100%;
  height: 80%;
  font-size: 15px;
  opacity: 1;
  color: gray;
}

.hr {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#buttoncontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button1 {
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: rgba(199, 204, 37);
  color: white;
}

#button1:hover {
  background-color: grey;
}

#buttoncontainer2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row ;
  justify-content: center;
  margin-bottom: -40px;
}

#buttonmodal {
  width: 190px;
  display: flex;
  justify-content: center;
  background-color: rgba(199, 204, 37);
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  font-size: small;
}

#buttonmodal:hover {
  background-color: grey;
}